.authlayout {
  padding: 20px;

  .authleft-side {
    background: linear-gradient(
      13.56deg,
      #ffffff 21.91%,
      #3b85ff 65.34%,
      #0047bb 94.57%
    );
    width: 100%;
    height: calc(100vh - 40px);
    border-radius: 8px;

    .p-30 {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 60px);
    }
  }

  .loginpage {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .loginpage_container {
    width: 100%;
    max-width: 450px;
    .header_auth_pages {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      .back_arrow_svg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        svg {
          cursor: pointer;
        }
      }

      h1 {
        font-weight: 700;
        font-size: 24px;
        color: #0c0d0d;
      }
    }
    h1 {
      font-weight: bold;
      font-size: 24px;
    }

    p {
      color: #3b4145;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 20px;
    }
    form label {
      font-weight: 400;
      font-size: 16px;
    }
    form input {
      font-weight: 400;
      font-size: 16px;
      font-weight: 400;
    }
    form input[type="submit"] {
      display: block;
      width: 100%;
    }
  }
}
