.upload-title,
.field-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
}

.upload-container {

    .ant-upload-wrapper {
        .ant-upload-drag {
            border-style: solid;
            border-color: rgba(234, 235, 235, 1);
            background-color: #fff;


            .upload-content {
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

            }
        }
    }
}